@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --BGCOLOR:#333;
    --COLOR:#fff;
}

html{
    font-family: 'Nunito' , sans-serif;
    font-size: 1.5rem;
}

body{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header{
    background-color: var(--BGCOLOR);
    color: var(--COLOR);
}
.header-title-line{
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu-button{
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
}

.menu-icon , .menu-icon::before , .menu-icon::after{
    background-color: var(--COLOR);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.menu-icon::after,.menu-icon::before{
    content: "";
}

.menu-icon::before{
    transform: translate(-20px , -12px);
}
.menu-icon::after{
    transform: translate(-20px , 12px);
}

:is(header:hover , header:focus-within) .menu-icon{
    background-color: transparent;
    transform: rotate(720deg);
}

:is(header:hover , header:focus-within) .menu-icon::before{
    transform: translateX(-20px) rotate(45deg);
}

:is(header:hover , header:focus-within) .menu-icon::after{
    transform: translateX(-20px) rotate(-45deg);
}

:is(header:hover , header:focus-within) nav{
    display: block;
}


nav{
    display: none;
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out forwards;
}

@keyframes showMenu {
    0%{
        transform: scaleY(0);
    }

    80%{
        transform: scaleY(1.2);
    }

    100%{
        transform: scaleY(1);
    }
}

nav ul{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}

nav li{
    padding: 0.5rem;
    border-top:2px solid var(--COLOR);
   
    
}

nav a{  
    display: block;
    text-align: center  ;
    text-decoration: none;
    width: 80%; 
    margin: auto;
}

nav a:any-link{
    color: var(--COLOR);
    font-weight: bold;
}

nav :is(a:hover , a:focus){
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}